html {
    font-size: 18px;
  }

h1 {
    border-bottom: 1px solid #999;
    font-size: 2em;
    margin: 0em 0em 1em 0em;
}

h2{
    font-size: 1.66667em;
    margin: 0em;
    color: #999;
}

h3{
    font-size: 1em;
    margin: 0em;
}

.card-section h2{
    display: none;
    margin: 0em;
}

button{
    font-size: 1em;
    border: 5px solid;
    border-top-color: #999;
    border-bottom-color: #666;
    border-right-color: #999;
    border-left-color: #666;
}

button:hover{
    font-size: 1em;
    border: 10px solid;
    border-top-color: #666;
    border-bottom-color: #999;
    border-right-color: #666;
    border-left-color: #999;
}

.card-text{
    font-size: 1em;
    margin-left: 0em;
}

.card-text p::first-letter{
    font-size: 2em;
}

.card-text p::first-line{
    background-color: #ccc;
}

.card-text p+p{
    font-size: 0.8889em; /* 16/18 */
    margin-left: 2.77778em;
}

.card-text p+p::first-letter{
    font-size: 2.25em; /* 2/(16/18) */
}

.card-text p+p::first-line{
    background-color: #ddd;
}

.card-text p+p+p{
    font-size: 0.7778em; /* 14/18 */
    margin-left: 5.55556em; 
}

.card-text p+p+p::first-letter{
    font-size: 2.57143em; /* 2/(14/18) */
}

.card-text p+p+p::first-line{
    background-color: #eee;
}

.card{
    display: inline-block;
    width: 10em;
    height: 10em;
    margin: 0.5em;
    padding: 0.5em;
    border: 1px solid black;
}

.card-section{
    max-width: 37em;
    margin-left: auto;
    margin-right: auto;
}

.card:nth-child(odd){
    background-color: #fff;
    color: #333;
}

.card:nth-child(even){
    background-color: #333;
    color: #fff;
}

.card-section:hover .card:nth-child(odd){
    background-color: #333;
    color: #fff;
}

.card-section:hover .card:nth-child(even){
    background-color: #fff;
    color: #333;
}

.cards button{
    display: block;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
}

.cards:after{
    content: 'Ekki meira efni';
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    border-top: 1px solid #c00;
    padding-top: 1em;
}